:root {
    --black: #1A1A1A;
    --light-gray: #E6E6E6;
    --white: #FFFFFF;
}

html {
    margin: 2rem;
    box-sizing: border-box;
}

/* GLOBAL STYLES */

body {
    font-family: "Inter", sans-serif;
    font-weight: 420;
    font-size: 15px;
    line-height: 20px;
    color: var(--black);
    display: grid;
    gap: 2rem;
}

section {
    display: grid;
}

img {
    display: block;
}

article h1 {
    font-size: 15px;
}

a {
    color: var(--black);
    margin: 0;
}

h1, h2, h3 {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: normal;
}

button {
    background-color: transparent;
    text-transform: uppercase;
    padding: 20px;
    padding-right: 300px;
    border: 1px solid var(--black);
    display: inline-block;
}

i {
    margin: 0;
}

svg {
    width: 17.5px;
}

/* COMPONENTS PAGE */

.component__section--header {
    color: var(--light-gray);
    background-color: var(--black);
    padding: 1rem;
}

.component img {
    max-width: initial;
}

.component__img {
    border: 1px solid var(--black);
    overflow-x: auto;
}

.component__code {
    border: 1px solid var(--black);
}

.page-description {
    margin: 0;
}

.moon {
    display: block;
}

.sun {
    display: block;
    color: var(--light-gray);
    background-color: var(--black);
}

.button--dark:hover {
    color: white;
    background-color: var(--black);
}

.button--light:hover {
    background-color: var(--light-gray);
}

