:root {
    --black: #1A1A1A;
    --white: #ffffff;
    --light-gray: #E6E6E6;
}
* {
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: var(--black);
}

h1, h2, h3 {
    text-transform: uppercase;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

/*HEADER*/
    header {
        background-color: var(--white);
    }

/*PRODUCT CARDS*/

.product-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 1px;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.product-card {
    padding: 0 40px;
    background-color: var(--white);
    color: var(--white);
    align-content: center;
}

.product-card:hover {
    background-color: var(--black);
    }

.card__img {
    aspect-ratio: 1/1;
    object-fit: contain;
}