<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Components Minimalissimo</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/normalize.css">
</head>
<body>
    <h1 class="page-header">Web Design System</h1>

    <section class="typograpghy">
        <h2 class="component__section--header">Typograpghy Defaults</h2>

        <article class="component">
            <h3 class="component__name">Body Copy</h3>
            <div class="component__img">
                <img srcset="images/hero/hero__newsletter-ad.png 2x" 
                src="images/hero/hero__newsletter-ad.png"
                alt= "body copy">
            </div>
            <div class="component__code">
                Code Goes Here
            </div>
            <p>The Minimalissimo newsletter is sponsored by <a href="#">aprile, the hanging chair.</a></p>
        </article>

        <article class="component">
            <h3 class="component__name">Headings</h3>
            <div class="component__img">
                <img srcset="images/global/h1.png 2x" 
                src="images/global/h1.png"
                alt= "H1">
                <img srcset="images/global/h2.png 2x" 
                src="images/global/h2.png"
                alt= "H2">
            </div>
            <div class="component__code">
                Code Goes Here
            </div>
            <h1>Minimalism in Art and Design</h1>
            <h2>Minimalissimo &reg;</h2>
        </article>


        <article class="component">
            <h3 class="component__name">Links</h3>
            <div class="component__img">
                <img srcset="images/global/link.png 2x" 
                src="images/global/link.png"
                alt= "text link">
            </div>
            <div class="component__code">
                Code Goes Here
            </div>
            <p><a href="#">aprile, the hanging chair.</a></p>
        </article>
    </section>

</body>
</html>